#hero {
    background-image: url(../images/rock-climbing-web.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#hero .d-flex{
    height: 70vh;
}